/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: yellow;
  --clr-primary-light: rgb(196, 196, 40);
  --clr-black-1: black;
  --clr-lblack-5: #05080a82;
  --clr-lerblack-10: #02050700;
  --clr-white: #fff;
  --ff-primary: "Sora", sans-serif;

  --ff-secondary: "Permanent Marker", cursive;

  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-black-1);
  color: var(--clr-black-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* more global css */

/* hero banner */
.logo {
  width: 100px;
  height: 100px;
}
.hero-banner {
  /*linear-gradient(to bottom, black, yellow), */
  background: linear-gradient(
      to bottom,
      rgba(222, 247, 3, 0.5),
      25%,
      rgba(56, 62, 26, 0.6) 75%
    ),
    url(../images/waynebg.jpg) center/cover no-repeat fixed;
  height: 100vh;
  width: 0 auto;
  background-size: cover;
}

.btn {
  color: yellow;
  background-color: black;
  border: 3px solid var(--clr-primary);
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: var(--ff-secondary);
  padding: 0.5rem;
}
.btn:hover {
  color: black;
  background-color: var(--clr-primary);
  /* border-color: 5px dotted black; */
}
.title {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 31%;
  letter-spacing: (var(--spacing));
}
.title h3 {
  color: var(--clr-primary);

  font-size: xx-large;
  font-family: "Pacifico", cursive;
}
.title h1 {
  font-family: var(--ff-secondary);
}
/* End of Hero Banner */

/* About Us */

.container1 {
  position: absolute;
  left: 5%;
  /* background-color: var(--clr-primary-light); */
  padding-top: 2rem;
}

.about-us {
  /* border: 5px solid var(--clr-black-1); */
  margin-top: 5rem;
  font-size: 5rem;
  font-family: var(--ff-secondary);
  background-color: var(--clr-primary-light);
  width: 40rem;
}
.scripts {
  position: absolute;
  margin-left: 0rem auto;
  color: var(--clr-primary-light);
  width: 40rem;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.photos {
  width: 35rem;
  height: 25rem;
  position: absolute;
  left: 130%;
  top: 60%;
  border: 5px solid var(--clr-primary-light);
  border-radius: 15%;
  margin-bottom: 3rem;
}
.photos:hover {
  transform: scale(1.5);
}

/* End of about us */

/*Members */
.runners {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: 5rem;
  text-align: center;
}

/*end of Members */
