/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: yellow;
  --clr-primary-light: rgb(196, 196, 40);
  --clr-black-1: black;
  --clr-lblack-5: #05080a82;
  --clr-lerblack-10: #02050700;
  --clr-white: #fff;
  --ff-primary: "Sora", sans-serif;

  --ff-secondary: "Permanent Marker", cursive;

  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-black-1);
  color: var(--clr-black-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* more global css */

/* hero banner */
.logo {
  width: 100px;
  height: 100px;
}
.hero-banner {
  /*linear-gradient(to bottom, black, yellow), */
  background: linear-gradient(
      to bottom,
      rgba(223, 247, 3, 0.646),
      15%,
      rgba(56, 62, 26, 0.6) 75%
    ),
    url(../images/waynebg.jpg) center/cover no-repeat fixed;
  height: 100vh;
  background-size: cover;
}

.btn {
  color: yellow;
  background-color: black;
  border: 3px solid var(--clr-primary);
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: var(--ff-secondary);
  padding: 0.5rem;
}
.btn:hover {
  color: black;
  background-color: var(--clr-primary);
  /* border-color: 5px dotted black; */
}
.title {
  text-align: center;
  letter-spacing: (var(--spacing));
  padding: 15rem;
}
.title h3 {
  color: var(--clr-primary);

  font-size: xx-large;
  font-family: "Pacifico", cursive;
}
.title h1 {
  font-family: var(--ff-secondary);
}
/* End of Hero Banner */

/* About Us */

.pics-text {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.about-container {
  /* background-color: var(--clr-primary-light); */
  margin-top: 100px;
}

.about-us {
  font-size: 5rem;
  font-family: var(--ff-secondary);
  background-color: var(--clr-primary-light);
  width: 35rem;
  text-align: center;
  margin: 0 auto;
}
.scripts {
  margin-left: 0 auto;
  color: var(--clr-primary-light);
  padding-top: 2rem;
  font-size: 1.5rem;
  width: 60rem;
  padding-left: 10rem;
}

.photos {
  width: 400px;
  height: 250px;
  border: 5px solid var(--clr-primary-light);
  border-radius: 15%;

  margin: 10px;
  transition: all 1s;
}
.picborder {
  padding-right: 10rem;
}
.photos:hover {
  transform: scale(1.3);
}

/* End of about us */

/*Members */
.members-container {
  margin-top: 100px;
}

.runner-pics {
  display: flex;
  flex-wrap: wrap;
}

.runner-profile {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.runners {
  background-color: var(--clr-primary-light);
  font-family: var(--ff-secondary);
  width: 35rem;
  font-size: 5rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.photos2:after {
  height: 75px;
  float: left;
  width: 17%;
  padding: 5px;
  display: flex;
}
.scripts2 {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font: 30px;
  text-align: center;
}
.runner-name {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}
.runner-img {
  height: 200px;
  width: 300px;
  transition: all 1s;
  border-radius: 1rem;
}
.runner-img:hover {
  transform: scale(1.5);
}
.btn-members {
  margin: 0 auto;
}

/*end of Members */
/*Race results*/

.race-title {
  background-color: var(--clr-primary-light);
  font-family: var(--ff-secondary);
  width: 35rem;
  height: 6rem;
  font-size: 5rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.run-script {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font: 30px;
  text-align: center;
  padding-bottom: 3rem;
}
.result-btn {
  margin: 1rem;
}
.runn {
  height: 200px;
  width: 300px;
  border-radius: 1rem;
}
.races-container {
  border-bottom: 2px solid var(--clr-primary);
  width: 100rem;
}
/*end of race results */
@media screen and (max-width: 780px) {
  /* tablet */
  .pics-text {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .photos {
    height: 200px;
    width: 300px;
  }

  .pics-text {
    flex-direction: column;
  }

  .runners {
    font-size: 4rem;
  }
}
